* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: #404040;
  background: #F3F3F6; }

.socialnets {
  background: #000051; }
  .socialnets .inside {
    padding: 5px 20px;
    text-align: right; }
    .socialnets .inside a {
      text-decoration: none;
      font-weight: 25px;
      color: white;
      margin-left: 20px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 5px 20px;
  background: white; }
  header .icon-menu {
    display: none; }
  header .logo {
    position: relative; }
    header .logo img {
      width: 30%; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: 10%;
    margin-bottom: 0px;
    padding: 10px; }
    header ul li {
      list-style: none;
      margin: 20px; }
      header ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #292929;
        font-weight: bold; }

.movil {
  display: none; }

#sky {
  display: none;
  font-size: 20px;
  padding: 15px;
  color: white;
  background: rgba(36, 36, 36, 0.5);
  position: fixed;
  cursor: pointer;
  z-index: 1;
  border-radius: 255px;
  bottom: 20px;
  right: 2.5%; }
  #sky:hover {
    background: #242424;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }

.slideImgs {
  width: 80%;
  margin: 0 auto; }
  .slideImgs .slideshow {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center; }
    .slideImgs .slideshow img {
      width: 100%; }

footer {
  text-align: center; }
  footer .inside {
    padding: 10px;
    background: #6b6b6b;
    color: white; }
    footer .inside .socials {
      text-align: center;
      padding: 10px 0; }
      footer .inside .socials a {
        text-decoration: none;
        color: white; }
        footer .inside .socials a span {
          font-size: 20px; }
        footer .inside .socials a .icon-facebook {
          margin: 0 20px; }

@media only screen and (max-width: 1020px) {
  .socialnets {
    display: none; }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 5px 20px;
    position: relative; }
    header .icon-menu {
      display: block;
      font-size: 25px;
      padding: 10px;
      color: white;
      background: rgba(36, 36, 36, 0.5);
      position: fixed;
      cursor: pointer;
      z-index: 1;
      border-radius: 255px;
      top: 20px;
      left: 8px; }
      header .icon-menu:hover {
        background: #242424;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
    header .logo {
      margin: 0 auto;
      text-align: center; }
      header .logo img {
        width: 30%; }
    header ul {
      display: none; }
  .slideImgs {
    width: 100%; }
    .slideImgs .slideshow {
      width: 90%; }
  .movil {
    position: fixed;
    z-index: 2;
    top: 0px;
    display: block;
    background: rgba(41, 41, 41, 0.904);
    height: 100%;
    width: 100%; }
    .movil .cerrar {
      font-weight: bold;
      font-size: 20px;
      color: white;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 0;
      padding: 0;
      text-align: right; }
      .movil .cerrar span {
        cursor: pointer; }
    .movil .grupo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .movil .grupo .responsiveMenu {
        position: relative;
        padding: 20px;
        top: 0px;
        border-right: 1px solid white;
        height: 100%; }
        .movil .grupo .responsiveMenu li {
          list-style: none;
          margin: 20px; }
          .movil .grupo .responsiveMenu li a {
            text-decoration: none;
            color: white; }
      .movil .grupo .fastLink {
        color: white;
        position: relative;
        margin-left: 40px;
        margin-top: 40px; }
        .movil .grupo .fastLink .opc {
          margin-bottom: 20px; }
          .movil .grupo .fastLink .opc .smallest {
            display: none; }
          .movil .grupo .fastLink .opc .icon-mail {
            font-size: 20px; }
          .movil .grupo .fastLink .opc a {
            text-decoration: none;
            font-size: 18px;
            color: white; } }

@media only screen and (max-width: 521px) {
  .movil .grupo {
    display: block; }
    .movil .grupo .responsiveMenu {
      position: relative;
      padding: 20px;
      top: 0px;
      border-right: none;
      border-bottom: 1px solid white;
      height: 100%; }
      .movil .grupo .responsiveMenu li {
        list-style: none;
        margin: 20px; }
        .movil .grupo .responsiveMenu li a {
          text-decoration: none;
          color: white; }
    .movil .grupo .fastLink {
      color: white;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      margin-left: 0; }
      .movil .grupo .fastLink .opc {
        margin-bottom: 20px; }
        .movil .grupo .fastLink .opc .small {
          display: none; }
        .movil .grupo .fastLink .opc .smallest {
          display: block;
          text-align: center; }
        .movil .grupo .fastLink .opc .icon {
          font-size: 25px; }
        .movil .grupo .fastLink .opc .icon-facebook {
          margin: 0 30px; }
        .movil .grupo .fastLink .opc a {
          display: none; }
  .slideImgs {
    width: 100%; }
    .slideImgs .slideshow {
      width: 90%; } }
