.about {
  background: #F3F3F6;
  border-bottom: 1px solid lightgray; }
  .about .inside {
    color: #424242;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px; }
    .about .inside .aboutInfo {
      width: 100%; }
      .about .inside .aboutInfo .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        color: #292929; }
      .about .inside .aboutInfo .info {
        font-size: 16px; }
        .about .inside .aboutInfo .info ul {
          margin-left: 20px; }
          .about .inside .aboutInfo .info ul li {
            list-style-type: circle; }
    .about .inside .aboutImg {
      width: 60%;
      position: relative; }
      .about .inside .aboutImg img {
        width: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.objetive {
  background: white; }
  .objetive .inside {
    width: 90%;
    margin: 0 auto;
    padding: 20px; }
    .objetive .inside .mision .title, .objetive .inside .vision .title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
      color: #292929; }
    .objetive .inside .mision .info, .objetive .inside .vision .info {
      text-align: justify;
      width: 90%;
      margin: 0 auto; }

.responsivePromo {
  display: none; }

.promo {
  background: #000051;
  color: white; }
  .promo .inside {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px; }
    .promo .inside .promoImg {
      width: 50%;
      position: relative;
      text-align: center; }
      .promo .inside .promoImg img {
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .promo .inside .subs {
      padding: 20px; }
      .promo .inside .subs .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        color: white; }
      .promo .inside .subs .text {
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; }
      .promo .inside .subs .subscribe {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .promo .inside .subs .subscribe form {
          width: 100%; }
          .promo .inside .subs .subscribe form .form-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            .promo .inside .subs .subscribe form .form-group input {
              width: 60%;
              margin-right: 10px; }
            .promo .inside .subs .subscribe form .form-group .btnSubs {
              background: #F7D701;
              color: black;
              font-size: 15px;
              font-weight: bold; }

.shipping {
  background: #F3F3F6; }
  .shipping .inside {
    color: #424242;
    width: 90%;
    margin: 0 auto;
    padding: 20px; }
    .shipping .inside .now .title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
      color: #292929; }
    .shipping .inside .now .places {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin: 0 auto; }
      .shipping .inside .now .places .country {
        width: 40%;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-weight: bold; }
        .shipping .inside .now .places .country img {
          width: 40%; }
    .shipping .inside .soon .title {
      font-size: 25px;
      font-weight: bold;
      margin: 30px 0;
      text-align: center;
      color: #292929; }
    .shipping .inside .soon .newServices {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 16px; }
      .shipping .inside .soon .newServices ul {
        width: 40%;
        margin: 0 20px; }
        .shipping .inside .soon .newServices ul li {
          list-style: none;
          text-align: center; }
    .shipping .inside .prices {
      text-align: center;
      margin-top: 30px;
      font-size: 20px; }
      .shipping .inside .prices a {
        color: #292929; }

@media only screen and (max-width: 1020px) {
  .about .inside {
    display: block; }
    .about .inside .aboutImg {
      width: 70%;
      text-align: center;
      margin: 0 auto; }
      .about .inside .aboutImg img {
        width: 58%;
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); }
  .laptopPromo {
    display: none; }
  .responsivePromo {
    display: block; }
  .promo .inside {
    display: block; }
    .promo .inside .promoImg {
      width: 40%;
      text-align: center;
      margin: 0 auto; }
      .promo .inside .promoImg img {
        width: 45%;
        margin-bottom: 20px;
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); }
  .shipping .inside .soon .newServices {
    display: block; }
    .shipping .inside .soon .newServices ul {
      width: 100%;
      margin: 0; } }

@media only screen and (max-width: 521px) {
  .promo .inside {
    display: block; }
    .promo .inside .promoImg {
      width: 40%;
      text-align: center;
      margin: 0 auto; }
      .promo .inside .promoImg img {
        width: 55%;
        margin-bottom: 20px;
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); } }
