.maritimo {
  border-bottom: 1px solid lightgray; }
  .maritimo .inside {
    width: 90%;
    margin: 0 auto;
    padding: 20px; }
    .maritimo .inside .title {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 30px;
      color: #292929;
      text-align: center; }
    .maritimo .inside .marit .boxes {
      text-align: center; }
      .maritimo .inside .marit .boxes img {
        width: 50%; }
      .maritimo .inside .marit .boxes p {
        margin: 10px 0;
        text-align: center;
        font-weight: bold; }
    .maritimo .inside .marit .data p, .maritimo .inside .marit .data small {
      margin: 10px 0;
      text-align: center;
      font-weight: bold; }
    .maritimo .inside .marit .data table {
      font-size: 16px;
      margin: 0 auto; }
      .maritimo .inside .marit .data table tr {
        text-align: center;
        border: 1px solid black; }
        .maritimo .inside .marit .data table tr td, .maritimo .inside .marit .data table tr th {
          padding: 10px;
          border: 1px solid black; }
        .maritimo .inside .marit .data table tr th {
          background: lightgray;
          color: #292929;
          font-size: 18px; }
    .maritimo .inside .marit .delivery {
      margin: 65px 0; }
      .maritimo .inside .marit .delivery p {
        font-weight: bold;
        text-align: center;
        font-size: 20px; }
    .maritimo .inside .marit .calculator {
      width: 70%;
      margin: 0 auto; }
      .maritimo .inside .marit .calculator button {
        font-weight: bold;
        color: #292929;
        text-decoration: none; }
      .maritimo .inside .marit .calculator .card {
        border-bottom: 1px solid lightgray; }
        .maritimo .inside .marit .calculator .card .card-body .dimentions {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions label {
            font-weight: bold;
            color: #292929; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions input {
            width: 15%;
            background: white; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions p {
            margin: 6px 20px;
            text-align: center;
            font-weight: bold; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions .finalresult {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            .maritimo .inside .marit .calculator .card .card-body .dimentions .finalresult #result {
              margin: 6px -10px;
              text-align: center; }
              .maritimo .inside .marit .calculator .card .card-body .dimentions .finalresult #result #format {
                margin: 6px -9px; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions .btnResult {
            background: #000051;
            color: white;
            font-size: 15px; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions .btnConvert {
            margin-left: 20px; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions .reset {
            background: #F7D701;
            color: black; }
        .maritimo .inside .marit .calculator .card .card-body .price {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-weight: bold;
          margin-top: 5px;
          border-bottom: 2px solid #0a9756; }
        .maritimo .inside .marit .calculator .card .card-body #errorMessage {
          text-align: center;
          color: #9c1010;
          font-weight: bold;
          margin-top: 10px; }
        .maritimo .inside .marit .calculator .card .card-body .need {
          margin: 20px 0; }

.aereo .inside {
  width: 90%;
  margin: 0 auto;
  padding: 20px; }
  .aereo .inside .title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    color: #292929;
    text-align: center; }
  .aereo .inside .air .data p, .aereo .inside .air .data small {
    margin: 10px 0;
    text-align: center;
    font-weight: bold; }
  .aereo .inside .air .delivery {
    margin: 65px 0; }
    .aereo .inside .air .delivery p {
      font-weight: bold;
      text-align: center;
      font-size: 20px; }
    .aereo .inside .air .delivery img {
      width: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }

.others {
  background: #F7D701;
  color: black; }
  .others .inside {
    padding: 20px 40px; }
    .others .inside .subtitle {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold; }
    .others .inside ul li {
      list-style: circle;
      font-size: 17px;
      color: black; }

@media only screen and (max-width: 1020px) {
  .maritimo .inside {
    width: 100%; }
    .maritimo .inside .marit .delivery {
      margin: 20px auto; }
    .maritimo .inside .marit .calculator {
      width: 100%;
      padding: -20px; }
      .maritimo .inside .marit .calculator .card .card-body .dimentions {
        display: block; }
        .maritimo .inside .marit .calculator .card .card-body .dimentions input {
          width: 100%; }
        .maritimo .inside .marit .calculator .card .card-body .dimentions p {
          margin: 6px 0px; }
        .maritimo .inside .marit .calculator .card .card-body .dimentions .btnResult {
          background: #000051;
          color: white;
          font-size: 15px;
          width: 100%; }
        .maritimo .inside .marit .calculator .card .card-body .dimentions .btnConvert {
          margin: 10px 0; }
        .maritimo .inside .marit .calculator .card .card-body .dimentions .reset {
          background: #F7D701;
          color: black; }
        .maritimo .inside .marit .calculator .card .card-body .dimentions .finalresult {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-line-pack: center;
          align-content: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          text-align: center; }
          .maritimo .inside .marit .calculator .card .card-body .dimentions .finalresult #result {
            margin: 6px 0px; }
            .maritimo .inside .marit .calculator .card .card-body .dimentions .finalresult #result #format {
              margin: 6px 0px; }
      .maritimo .inside .marit .calculator .card .card-body .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
        width: 60%;
        margin: 10px auto 0 auto; }
  .aereo .inside .air .delivery {
    margin: 20px 0; } }
